<div class="centered jumbotron jumbotron-fluid">
  <%= image_tag '/assets/smyle-logo-horizontal.png', class: "img-fluid" %>
  <p class="lead">Smyle is a community of certified therapists called Hearos that can help you bring back your SmYle to Lyfe!</p>
  <hr class="my-3">
  <%= link_to 'Start SmYling!', new_smyler_path, class: "btn btn-primary btn-lg" %>
  <%= link_to 'Become a Hearo!', new_hearo_path, class: "btn btn-primary btn-lg" %>
  <hr class="my-3">
  <p class="lead">How it works:</p>
  <p class="lead">Once you become a SmYler you will be able to set meetings with hearos which are certified therapists and will make the most to put back a SmYle on your face. <span>Signup</span> now and start SmYling!</p>

 
</div>