<div class="jumbotron">
    <h1 class="display-4 centered">Hello Hearo2 <%= @hearo.first_name %></h1>
    <hr class="my-3">
    <div class="row">
        <div class="col bg-light">
          <p class=lead>Reserve Weekly Meeting Times:</p>
        </div>
        <div class="col bg-light">
          <p class=lead>Meetings:</p>
            
        </div>
    </div>
</div>