<div class="centered jumbotron">
  <h1 class="display-4">Become a Smyler!!</h1>

  <%= render 'form', smyler: @smyler %>

<p>Or Signup with Facebook!</p>
<%= link_to 'Facebook Signup', '/auth/facebook' %>
</div>
