<div class="centered jumbotron">
  <h1 class="display-4">Reviews for <%= @hearo.full_name %></h1>
  <hr class="my-3">
    <div class="col bg-light">
    <p class=lead>Reviews:</p>
    <ul class="list-group list-group-flush">
      <% @hearo.reviews.each do |review|%>
        <li class="list-group-item">
          <p>Score: <%= review.score %></p>
          <p>Note: <%= review.content %></p>
        </li>
      <% end %>
    </ul>
  </div>

</div>